@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body
{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Dancing Script', cursive;
}

*
{
    margin: 0;
    padding: 0;
}

.container
{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/f1d0d572816947.5c2bcd89d519b.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.card
{
    display: block;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 50px;
    height: auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 1px rgba(17, 17, 17, 0.383);
    animation-name: card-animation;
    animation-duration: 2s;
}

.card-line
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #090078;
}

.card h1
{
    color: #090078;
}

.card p
{
    text-align: left;
    margin-top: 25px;
    font-size: 20px;
}

@keyframes card-animation
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}